*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spacing-1: 10px;
    --spacing-2: 16px;
    --spacing-3: 26px;
    --spacing-4: 42px;
    --spacing-5: 68px;
    --spacing-6: 110px;
    --spacing-7: 177px;
    --spacing-8: 287px;
    --spacing-9: 464px;
    --color-black: hsl(0, 0%, 7.8%);
    --color-white: hsl(0, 0%, 97.3%);
    --color-white-transparent: hsla(0, 0%, 97.3%, 0.75);
    --color-gray: hsl(0, 0%, 43.1%);
    --font-title: "Caudex", serif;
    --font-subheader: "Averia Libre", system-ui;
    --font-main: "Raleway", sans-serif;
}

body {
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

[data-barba="container"] {
    position: relative;
    z-index: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* NAVBAR */
nav {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding: var(--spacing-1);
    z-index: 10;
}

#navbar-title {
    display: flex;
    grid-column: 2;
    flex-direction: column;
    gap: var(--spacing-2);
    width: max-content;

    h1 {
        font-family: var(--font-title);
        font-size: var(--spacing-3);
        font-weight: 100;
        text-transform: uppercase;

        a {
            color: var(--color-white);
        }
    }
}

#navbar-selected-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

#selected-section {
    display: flex;

    p {
        font-family: var(--font-subheader);
        font-size: var(--spacing-2);
        display: flex;
    }
}

.line-horizontal {
    height: 1px;
    width: 100%;
    background-color: var(--color-white-transparent);
}

.line-vertical {
    width: 1px;
    background-color: var(--color-white-transparent);
    height: 0;
}

.navbar-home-icon {
    display: inline;
    fill: var(--color-white);
    height: var(--spacing-4);
}

#navbar-sections-container {
    display: flex;
    gap: var(--spacing-2);
    grid-column: 3;
    grid-row: 2;
}

#navbar-sections-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-2);
    font-family: var(--font-subheader);
    font-size: var(--spacing-2);

    svg {
        display: none;
    }

    a {
        color: var(--color-white);
        opacity: 0;
    }
}

.home-icon-dots {
    fill: var(--color-white);
    height: var(--spacing-3);
}

/* MAIN */

#main-home {
    height: 100vh;
    background: url('images/home1.webp');
    background-size: cover;
    background-position: center;
}

/* RESPONSIVE */

@media (min-width: 770px) {
    nav {
        display: flex;
        padding: var(--spacing-3);
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    #navbar-selected-section-container {
        align-items: center;
        gap: var(--spacing-3);
        height: var(--spacing-3);
    }

    #selected-section {
        width: var(--spacing-2);

        p {
            font-size: var(--spacing-3);
        }
    }

    #navbar-title h1 {
        font-size: var(--spacing-4);
    }

    .navbar-home-icon {
        display: none;
    }

    #navbar-sections-list {
        flex-direction: row;
        height: var(--spacing-3);
        font-size: var(--spacing-3);

        svg {
            display: inline;
        }

        a {
            opacity: 1;
        }
    }
}