*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spacing-1: 10px;
    --spacing-2: 16px;
    --spacing-3: 26px;
    --spacing-4: 42px;
    --spacing-5: 68px;
    --spacing-6: 110px;
    --spacing-7: 177px;
    --spacing-8: 287px;
    --spacing-9: 464px;
    --color-black: hsl(0, 0%, 7.8%);
    --color-white: hsl(0, 0%, 97.3%);
    --color-white-transparent: hsla(0, 0%, 97.3%, 0.75);
    --color-gray: hsl(0, 0%, 43.1%);
    --font-title: "Caudex", serif;
    --font-subheader: "Averia Libre", system-ui;
    --font-main: "Raleway", sans-serif;
    --golden-ratio: 1.618;
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
}

main {
    min-height: 100vh;
}

[data-barba="container"] {
    position: relative;
    z-index: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.medium {
    font-weight: 450;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.big {
    font-size: var(--spacing-3);
    text-align: center;
}

.capital {
    text-transform: capitalize;
}

/* NAVBAR */
nav {
    position: fixed;
    height: var(--spacing-6);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--color-white);
    padding: var(--spacing-1) 0;
    z-index: 10;
}

#navbar-title {
    display: flex;
    grid-column: 2;
    flex-direction: column;
    gap: var(--spacing-2);
    width: max-content;

    h1 {
        font-family: var(--font-title);
        font-size: var(--spacing-3);
        font-weight: 100;
        text-transform: uppercase;

        a {
            color: var(--color-white);
        }
    }
}

#navbar-selected-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

#selected-section {
    display: flex;

    p {
        font-family: var(--font-subheader);
        font-size: var(--spacing-2);
        display: flex;
    }
}

.line-horizontal {
    height: 1px;
    width: 100%;
    background-color: var(--color-white-transparent);
    opacity: 0.75;
}

.line-vertical {
    width: 1px;
    background-color: var(--color-white-transparent);
    height: 0;
    opacity: 0.75;
}

.navbar-home-icon {
    display: inline;
    fill: var(--color-white);
    height: var(--spacing-4);
}

#navbar-sections-container {
    display: flex;
    gap: var(--spacing-2);
    grid-column: 3;
    grid-row: 2;
    background-color: var(--color-white);
    height: 0;
    padding-top: var(--spacing-1);
}

#navbar-sections-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--spacing-2);
    font-family: var(--font-subheader);
    font-size: var(--spacing-2);
    width: max-content;
    padding: 0 var(--spacing-1) 0 0;

    svg {
        display: none;
    }

    a {
        color: var(--color-white);
        opacity: 0;
    }
}

.home-icon-dots {
    fill: var(--color-white);
    height: var(--spacing-3);
}

/* MAIN */

#main-home {
    height: 100vh;
    background: url('images/home1.webp');
    background-size: cover;
    background-position: center;
}

/* ABOUT */
#main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-6);
    padding: var(--spacing-6) var(--spacing-4) var(--spacing-4);
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-main);
    font-weight: 300;
    font-size: var(--spacing-2);
}

.about-image {
    width: 100%;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.about-line-container {
    height: 1px;
    width: 100%;
    padding: 0 var(--spacing-6);
}

.about-line {
    height: 100%;
    width: 100%;
    background-color: var(--color-black);
    opacity: 0.75;
}

#about-album-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    text-align: center;
    padding: var(--spacing-3) 0;

    img {
        width: 100%;
        transform: scale(1);
        transition: 0.3s ease;
    }

    img:hover {
        transform: scale(1.01);
    }
}

/* CONCERTS */
#main-concerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: url("images/concerts.webp") center / cover no-repeat fixed;
    padding: var(--spacing-7) 0 0;
}

#no-concerts-message {
    display: none;
    font-family: var(--font-subheader);
    font-size: var(--spacing-3);
    color: white;
    text-shadow: 1px 1px 1px var(--color-black);
}

#concerts-lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--spacing-1);
}

.concerts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--spacing-2);
    padding: var(--spacing-3) var(--spacing-3) var(--spacing-6) var(--spacing-3);
}

.concerts-list-title {
    font-family: var(--font-subheader);
    font-size: var(--spacing-3);
    color: var(--color-white);
    text-shadow: 1px 1px 1px var(--color-black);
}

.concert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-1) var(--spacing-2);
    color: var(--color-white);
    backdrop-filter: blur(5px) brightness(0.8);
}

.concert-date {
    display: flex;
    flex-direction: column;
    padding-right: var(--spacing-2);
    font-family: var(--font-title);
    font-weight: 400;
    flex: 1;
}

.concert-day {
    display: flex;
    align-items: start;
    font-weight: 600;
    font-size: var(--spacing-3);
    line-height: 1.1;
}

.concert-day-suffix {
    font-weight: 700;
    font-size: var(--spacing-2);
}

.concert-month-year-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.concert-month {
    font-size: var(--spacing-2);
}

.concert-year {
    font-size: var(--spacing-1);
}

.concert-band {
    display: flex;
    flex-direction: column;
    font-family: var(--font-title);
    text-align: center;
    gap: var(--spacing-1);
    flex: 1;
}

.concert-band-name {
    font-weight: bold;
    font-size: var(--spacing-2);
}

.concert-lineup {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    font-style: italic;
    font-weight: 300;
    font-size: var(--spacing-1);
}

.concert-location {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--spacing-1);
    padding-left: var(--spacing-2);
    flex: 1;
}

.concert-venue {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: var(--spacing-2);
    text-align: end;
}

.concert-city-country-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: var(--font-subheader);
    font-weight: 300;
    font-size: var(--spacing-1);
    text-transform: uppercase;
}

.concert-line-container {
    height: 1px;
    width: 100%;
    padding: 0 var(--spacing-6);
}

.concert-line {
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    opacity: 0.75;
}

/* RESPONSIVE */
@media (min-width: 770px) {
    .big {
        font-size: var(--spacing-4);
    }

    .line-vertical {
        height: 0;
    }

    nav {
        display: flex;
        height: 150px;
        padding: var(--spacing-3);
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    #navbar-selected-section-container {
        align-items: center;
        gap: var(--spacing-3);
        height: 100%;
    }

    #selected-section {
        width: var(--spacing-2);

        p {
            font-size: var(--spacing-3);
            height: var(--spacing-3);
        }
    }

    #navbar-title h1 {
        font-size: var(--spacing-4);
    }

    .navbar-home-icon {
        display: none;
    }

    #navbar-sections-container {
        background-color: transparent;
        height: 100%;
        padding: 0;
        align-items: end;
    }

    #navbar-sections-list {
        flex-direction: row;
        justify-content: center;
        align-items: end;
        height: fit-content;
        font-size: var(--spacing-3);
        width: auto;
        padding: 0;

        svg {
            display: inline;
        }

        a {
            opacity: 1;
        }
    }

    #main-about {
        padding: var(--spacing-7);
        font-size: var(--spacing-3);
    }

    .about-section {
        padding: 0 var(--spacing-7);
    }

    .about-line-container {
        padding: 0 var(--spacing-8);
    }

    #about-album-container {
        padding: var(--spacing-6) 0;
    }

    #main-concerts {
        background-position: top;
        padding: var(--spacing-8) 0 0;
    }

    #concerts-lists-container {
        gap: var(--spacing-3);
    }
    
    #no-concerts-message {
        font-size: var(--spacing-4);
    }

    .concerts-list-title {
        font-size: var(--spacing-4);
    }

    .concert {
        padding: var(--spacing-2) var(--spacing-3);
    }

    .concert-date {
        padding-right: var(--spacing-6);
    }

    .concert-month {
        font-size: var(--spacing-3);
    }

    .concert-day {
        font-size: var(--spacing-4);
    }

    .concert-day-suffix {
        font-size: var(--spacing-3);
    }

    .concert-year {
        font-size: var(--spacing-2);
    }

    .concert-band-name {
        font-size: var(--spacing-3);
    }

    .concert-location {
        padding-left: var(--spacing-6);
    }

    .concert-line-container {
        height: 2px;
        width: 100%;
        padding: 0 var(--spacing-9);
    }
}